@page
@model WebAppRazorPagesTechCrew.Pages.AddModel
@{
}

<form method="post">
    <table border="1">
        <tr>
            <td>Enter X value:</td>
            <td><input type="number" name="num1" /></td>
        </tr>
          <tr>
            <td>Enter Y value:</td>
            <td><input type="number" name="num2" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="submit" /></td>
            <td><input type="reset"  value="reset" /></td>
        </tr>
    </table>

    <p>
        Add result is:@TempData["res"]
    </p>
</form>