@page
@model WebAppRazorPagesTechCrew.Pages.UsersListModel
@{
}
<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">
            Employee List
        </div>

        <div class="card-body">

            <table class="table table-striped table-hover table-bordered text-center">

                <thead class="table-dark">
                    <tr>

                        <th>Name</th>
                        <th>Email</th>
                        <th>DoB</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model.userlist)
                    {
                        <tr>
                            <td>
                                @item.UserName
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @item.Dob
                            </td>
                            <td>
                                @item.Address
                            </td>
                            <td>
                                <a asp-page="Edit" asp-route-id=@item.ID>Edit</a>|
                                <a asp-page="Delete" asp-route-id=@item.ID>Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>